.adminLogin{
    background-image: url('https://i.gadgets360cdn.com/large/Puma_metaverse_nft_large_1662742235738.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 770px;
    width: 100%;
    position: fixed;
    margin-bottom: 20px; 
 } 
.formcontainercard{
    background-image: url('https://i.gadgets360cdn.com/large/Puma_metaverse_nft_large_1662742235738.jpg');
    /* background-image: url('../../public/images/img2.jpg'); */
   
    margin: 60px 300px;
    padding: 80px 0px;
    border-radius: 50px;
    border-color:black;
    border: 8px solid;
    box-shadow: 10px 10px 8px 8px rgba(255, 255, 255, 0.473);
    color: white;
}
.form_input input{
padding: 10px 30px;
background-color: rgba(249, 246, 246, 0.552);
font-size: 20px;
margin-bottom: 30px;
}
.btnbtn-primary{
    padding: 10px 50px;
    color: rgb(12, 4, 68);
    font-weight: 800;
}

.form_input label{
    color:white;
    font-size: 40px;
    font-weight: 500px;
    margin-left: 40px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
}
.formcontainercard h1{
    font-size: 60px;
    margin: 0px;
    padding-bottom: 40px;
    text-align: center;
}

.btnbtn-primary{
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 350px;
}
.btnbtn-primary:hover{
    background-color: rgba(3, 4, 72, 0.96);
    color: rgb(254, 252, 252) ;
    transform: scale(1.1);
}
.adminLogin{
    /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../../public/images/img7.jpg); */
    padding: 10px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}