body{
    width: 100%;
}
.pumalist h1{
color: crimson;
padding-left: 20px;
}
.pumalist h2{
    color: rgb(5, 1, 1);
    padding-left: 20px;
    font-size: 30PX;
    }

.card{
    background-color: white;
    margin-top: 10px;
    width: 17%;
    padding: 10px 20px;
    box-shadow: 10px 10px 8px 8px rgb(207, 204, 204);
  
}
.pumasection{
    display: flex;
    flex-wrap:wrap;
 
}
.pumalist{
    width: 100%
}
.pumaCard_detail {
    margin-top: -10px;
}

.pumaCard_detail h6{
    font-size: 15px;
    color: red;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.scratch h6{
    font-size: 15px;
   margin-left: 220px;
   margin-top: -35px;
   color: rgba(0, 0, 0, 0.385);
}
.btnbtn1 button{
    background-color: rgba(255, 0, 0, 0.941);
    border-radius: 10px;
    border: none;
    color: aliceblue;
    padding: 10px 20px;
   /* margin-right: 10px; */
   margin-left: 20px;
   margin-top: -80px;
}
.btnbtn1 button:hover{
  transform: scale(1.1);
}
.images1{
    text-decoration: none;
    border: none;
    /* border: 2px solid black; */
    box-shadow: 5px 4px 5px 4px white;
    
}
.images1:hover{
    transform: scale(1.1);
  
}